body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.bg-dark{
    background-color: #5C3287!important;
<<<<<<< HEAD
}
=======
}
>>>>>>> 695ac4ffab584424a56ce9b6bc7e5c565e55616b
