body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.bg-dark{
    background-color: #5C3287!important;
}
.btn-secondary {
    background-color: #440f71;
    border:#440f71;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px ;
    
}
.btn-secondary:hover {
    background-color: #7f24cf;
    border:#851de0;
}   
#dropdown{
    color: #851de0;
    background-color: white;
    border-radius: 50px;
    border-color: #fff;
    padding-left: 50px;
    padding-right: 50px ;
}
#content{
    margin-top: 10px;
}
.mensaje{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    color: #440f71;
}
#saludo{
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 0px;
}
#pregunta {
    margin-top: 0px;
}

.navbar-brand{
    font-weight: bolder;
    font-size: xxx-large;
}

.mensaje{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #440f71;
}

.saludo{
    margin-bottom: 0px;
    font-weight: bold;
}

.pregunta{
    margin-top: 0px;
}


.matriz{
    border-style:hidden;
    padding: 90px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30PX;
    

}
#cuadro-1{
    background-color: #FADB54;
    
}
#cuadro-2{
    background-color: #9CC1E6;
}
#cuadro-3{
    background-color: #9482C4;
}
#cuadro-4{
    background-color: #D98F6D;
}
#cuadro-5{
    background-color: #F3ADAC;
}
#cuadro-6{
    background-color: #CFB8EF;
}
#cuadro-7{
    background-color: #F3ADAC;
}
#cuadro-8{
    background-color: #60CFB0;
}
#cuadro-9{
    background-color: #D7D5DE;
}
#cuadro-10{
    background-color: #8ACEFB;
}
#cuadro-11{
    background-color: #F3AC85;
}
#cuadro-12{
    background-color: #9BE2E2;
}